.loan-table-container {
  margin-top: 20px;
  padding: 20px;
  background-color: #f0f4f8;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.loan-table-title {
  font-size: 1.5rem;
  font-weight: bold;
  color: #333;
  margin-bottom: 15px;
  text-align: center;
}

.loan-table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  font-size: 1rem;
  text-align: left;
}

.loan-table th, .loan-table td {
  padding: 12px 15px;
  border-bottom: 1px solid #ddd;
}

.loan-table thead {
  background-color: #b0b0b0; /* Cambiado a gris */
  color: #ffffff;
}

.loan-table tbody tr:nth-of-type(even) {
  background-color: #f9fafb;
}

.loan-table tbody tr:hover {
  background-color: #dfe9f3;
}

.loan-table td {
  text-align: center;
}

.loan-table th {
  font-weight: bold;
  text-align: center;
}

.loan-table-container {
  max-width: 100%;
  overflow-x: auto;
}