:root {
  --font-size-base: 14px;
  --font-size-lg: 16px;
  --font-size-xl: 18px;
  --font-size-xxl: 20px;
  --font-size-small: 0.8rem;
  --background-modal: rgba(0, 0, 0, 0.4);
}

html {
  font-size: var(--font-size-base);
}

@media (min-width: 640px) {
  html {
    font-size: 21px;
  }

  .content.main .main-section .cards-group {
    flex-direction: row;
  }

  footer {
    font-size: var(--font-size-small);
  }

  .content.secondary .page-data .assets-summary table {
    font-size: 1rem;
  }
}

@media (min-width: 768px) {
  html {
    font-size: var(--font-size-base);
  }

  .content.main {
    padding: 4rem 10rem;
  }

  .welcome-message {
    margin-bottom: 2rem;
  }

  .content.secondary {
    display: grid;
    grid-template-columns: 20% 1fr 20%;
    grid-column-gap: 1em;
    grid-row-gap: 1em;
  }

  .summary-menu .menu .menu-selector {
    width: 30%;
  }

  .summary-menu .summary {
    flex-wrap: nowrap;
    justify-content: space-between;
  }

  .summary-menu .summary .account-info {
    width: 30%;
  }

  .summary-menu .tag-group .tag {
    padding: 1.2rem 1.6rem;
  }

  .page-data {
    margin: 2rem 0;
  }

  footer {
    font-size: 1rem;

    .footer-content #footer-contact {
      display: block;
    }

    .footer-content button {
      display: none;
    }
  }

  .modal {
    color: black;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: var(--background-modal);
  }

  .modal-dialog {
    min-width: 30vw;
    max-height: 75vh;
    padding: 4em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  header .logoCompleto img {
    width: 100px;
  }
}

@media (min-width: 1024px) {
  html {
    font-size: var(--font-size-lg);
  }

  header .logoCompleto img {
    width: 100px;
  }
}

@media (min-width: 1280px) {
  html {
    font-size: var(--font-size-xl);
  }
}

@media (min-width: 1536px) {
  html {
    font-size: var(--font-size-xxl);
  }
}

@media screen and (max-width: 850px){

  main{
      margin-top: 50px;
  }

  .caja__trasera{
      max-width: 350px;
      height: 300px;
      flex-direction: column;
      margin: auto;
  }

  .caja__trasera div{
      margin: 0px;
      position: absolute;
  }


  /*Formularios*/

  .contenedor__login-register{
      top: -10px;
      left: -5px;
      margin: auto;
  }

  .contenedor__login-register form{
      position: relative;
  }
}