*{
    color:#000000;
    font-family: "roboto mono", monospace, sans-serif;
    margin:0;
    padding:0;
}

#encabezado{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:0.5rem;
    border-bottom: rgb(0, 0, 0, 0.3) solid 1px;
}

#menu{
    cursor: pointer;
    display:flex;
    align-items: center;
    padding: 0.3rem;
    border: rgb(0, 0, 0, 0.3) solid 1px;
    border-radius: 10px;
}

#menu, i{
    padding:5px;
}

#logo{
    flex:1;
    text-align: center;
}

#content{
    flex:1;
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

footer{
    background-color: #222222;
    display: flex;
    position: fixed;
    align-items: flex-start;
    justify-content: space-between;
    bottom: 0;
    width: 100%;
    padding: 4rem;
    padding-top: 1rem;
    box-sizing: border-box;
}

footer, footer a{
    color:white;
    text-decoration: none;
}