html {
  font-size: 16px;
  color: #000000;
  font-family: "roboto mono", monospace, sans-serif;

  @screen sm {
    font-size: 20px;
  }

  @screen md {
    font-size: 14px;
  }

  @screen lg {
    font-size: 16px;
  }

  @screen xl {
    font-size: 18px;
  }

  @screen 2xl {
    font-size: 20px;
  }
}

body {
  display: grid;
  grid: 7% auto 7% / 1fr;
  min-height: 100vh;
}

footer {
  grid-column: span 2;
  background-color: #222222;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  padding: 1em 4em 0;
  box-sizing: border-box;
}

footer,
footer a {
  color: white;
  text-decoration: none;
}

header {
  grid-column: span 2;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.8em 3em;
  border-bottom: rgb(0, 0, 0, 0.3) solid 1px;
}

header > img {
  width: auto;
  height: 100%;
}

header > h1 {
  font-size: 1.5em;
}

#menu-open {
  cursor: pointer;
  display: flex;
  align-items: center;
  border: rgb(0, 0, 0, 0.3) solid 1px;
  border-radius: 30px;
  height: 90%;
  padding: 0 0.5em;
  column-gap: 0.5em;
  font-size: 1.3em;
}

#content {
  flex: 1;
}

.menu {
  position: absolute;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  max-width: 0;
  background-color: white;
  overflow: hidden;
  transition: max-width 0.2s ease-out;
}

.menu.open {
  max-width: 25vw;
  transition: max-width 0.2s ease-in;
}

.menu .menu-close {
  border: none;
  margin: 1em;
  width: 2.5em;
  height: 2.5em;
  cursor: pointer;
}

.menu-close > * {
  width: 100%;
  height: 100%;
}

.menu > a {
  padding: 1.6em;
  text-decoration: none;
  color: black;
  font-size: 1.1em;
  font-weight: bold;
}
