html {
  font-size: 16px;
  color: #000000;
  font-family: "roboto mono", monospace, sans-serif;
  background-color: #F8F9FA;

  @media (min-width: 640px) {
    font-size: 20px;
  }

  @media (min-width: 768px) {
    font-size: 14px;
  }

  @media (min-width: 1024px) {
    font-size: 16px;
  }

  @media (min-width: 1280px) {
    font-size: 18px;
  }

  @media (min-width: 1536px) {
    font-size: 20px;
  }
}

body {
  display: grid;
  grid: 7% auto 7% / 1fr;
  min-height: 100vh;
}

footer {
  grid-column: span 2;
  background-color: #222222;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  padding: 1em 4em 0;
  box-sizing: border-box;
}

footer,
footer a {
  color: white;
  text-decoration: none;
}

header {
  grid-column: span 2;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1vh 3em;
  border-bottom: rgb(0, 0, 0, 0.3) solid 1px;
  background-color: white;
}

header>img {
  width: auto;
  height: 100%;
}

header>h1 {
  font-size: 1.5em;
}

.navbar-open {
  cursor: pointer;
  display: flex;
  align-items: center;
  border: rgb(0, 0, 0, 0.3) solid 1px;
  border-radius: 30px;
  height: 90%;
  padding: 0 0.5em;
  column-gap: 0.5em;
  font-size: 1.1em;
}

.navbar {
  position: absolute;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  max-width: 0;
  background-color: white;
  overflow: hidden;
  transition: max-width 0.2s ease-out;
}

.navbar.open {
  max-width: 25vw;
  transition: max-width 0.2s ease-in;
}

.navbar .navbar-close {
  border: none;
  margin: 1em;
  width: 2.5em;
  height: 2.5em;
  cursor: pointer;
}

.navbar-close>* {
  width: 100%;
  height: 100%;
}

.navbar>a {
  padding: 1.6em;
  text-decoration: none;
  color: black;
  font-size: 1em;
  font-weight: bold;
}

.content.main {
  margin: 0 20%;

  .welcome-message {
    margin-top: 5em;
    font-size: 1.5em;
  }

  .main-section {
    h2 {
      margin: 2em 0 1em;
      font-size: 1.2em;
    }
  }

  .account-card {
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 20em;
    height: min-content;
    padding: 1em;
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    .account-number {
      margin: 0.1em 0;
      font-size: 0.9em;
      color: lighten($color: #000000, $amount: 50%);
    }

    .account-balance {
      margin: 0.7em 0;
      font-size: 1.2em;
      font-weight: 450;

      .balance-symbol {
        font-size: 1.12em;
        margin-right: 0.05em;
      }

    }

    button {
      width: min-content;
      text-align: left;
      cursor: pointer;
      text-wrap: nowrap;
    }

  }

  .quick-access {
    display: flex;
    flex-direction: row;
    column-gap: 1em;

    button {
      width: 100px;
      height: 100px;
      background: #D9D9D9;
    }
  }
}

.content.secondary {
  display: grid;
  grid: auto 1fr/ 1fr;

  >* {
    display: grid;
    grid: 1fr / 20% 1fr 20%;
    grid-column: span 3;
    row-gap: 1em;

    >* {
      grid-column-start: 2;
    }

  }

  .summary-menu {
    grid-column: span 3;
    grid-auto-flow: column;
    background: #C2CDD0;
    height: min-content;

    .menu {
      display: flex;
      flex-direction: row;
      gap: 2%;
      align-items: center;
      height: 10vh;

      >* {
        background: white;
        height: 60%;
        border-radius: 7px;
        border: black 1.3px solid;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        display: flex;
        align-items: center;
        padding: 0 1em;
      }

      .content-title {
        font-size: 1.3em;
        flex: 1;
      }

      .menu-selector {
        width: 30%;
      }
    }

    .summary {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      height: min-content;

      .data-with-header {
        display: flex;
        flex-direction: column;
        gap: 0.6em;
        font-size: 0.8em;
        margin: 0.4em 0;

        .data {
          font-size: 1.7em;
        }
      }

      .account-info {
        display: flex;
        flex-direction: column;
        width: 30%;
        gap: 0.5em;

        .account-param {
          display: flex;
          flex-direction: column;
          text-wrap: nowrap;
        }

      }
    }

    .tag-group {
      display: flex;
      flex-direction: row;

      .tag {
        padding: 1.6em 2em;
        background-color: #4f5457;
        font-size: 0.7em;
        font-weight: 600;
        border-radius: 10px 10px 0 0;
        color: white;
        text-wrap: nowrap;

        &.active {
          background-color: white;
          color: black;
        }
      }
    }
  }

  .page-data {
    margin-top: 2em;
    font-size: 1.2em;

    p {
      margin-bottom: 0.5em;
    }

    .assets-summary {
      .header {
        background-color: #D9D9D999;
        border-radius: 10px 10px 0 0;
        padding: 1em;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

        h2 {
          width: 100%;
          font-size: 1.5em;
          font-weight: 500;
        }

        div {
          margin-top: 0.7em;
          margin-right: 1em;
          font-size: 0.8em;

          span {
            margin-top: 0.3em;
            display: block;
            font-size: 1.3em;
          }
        }
      }

      .chart {
        margin: 1em 0;
        height: 20vh;
        text-align: center;
        align-content: center;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      }
    }

    table {
      text-align: left;
      font-size: 0.9em;
      width: 100%;
      margin-bottom: 2em;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

      th,
      td {
        height: auto;
        padding: 1em 1em;
        vertical-align: middle;
      }

      thead {
        background-color: #D9D9D999;
      }

      tbody {
        tr {
          border-top: 1px solid lighten($color: black, $amount: 80%);
        }
      }

      tfoot {
        border-top: 1px solid lighten($color: black, $amount: 80%);
        background-color: #D9D9D999;
      }
    }
  }
}

body.login {
  display: block;
  background-color: #0a3542;
  height: 100%;
  color: white;
  overflow: hidden;

  main {
    display: flex;
    height: 100%;
    margin: 0 auto;
    max-width: max-content;
    flex-direction: column;
    justify-content: center;

    >* {
      margin-top: 1.5rem
    }

    :first-child {
      margin-top: 0;
    }

    img {
      height: 5em;
      width: auto;
      margin: 0 auto;
    }

    h1 {
      font-size: 1.5em;
      font-weight: 900;
      letter-spacing: -0.04em;
      text-align: center;
      text-wrap: nowrap;
      word-spacing: -0.2em;
    }

    form {
      display: flex;
      flex-direction: column;
      width: 100%;

      >* {
        margin-top: 0.5rem
      }

      :first-child {
        margin-top: 0;
      }

      label,
      a {
        font-size: 0.875rem;
        font-weight: 500;
      }

      a {
        color: #d9e1e3;
        text-decoration: none;

        &:hover {
          text-decoration-line: underline;
        }
      }

      .password-label {
        margin-top: 1rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
      }

      input {
        height: 2.5rem;
        border-radius: 0.375rem;
        background-color: #d9e1e3;
        padding: 0.5rem 0.75rem;
        font-size: 0.875rem;
        border: 1px solid #e4e4e7;

        &:focus-visible {
          outline: none;
          box-shadow: 0 0 0 2px white, 0 0 0 4px black;
        }
      }

      button {
        margin-top: 1rem;
        height: 2.5rem;
        background-color: #d9e1e3;
        border-radius: 0.375rem;
        font-size: 0.875rem;
        text-align: center;
      }
    }
  }
}
