@media(max-width:640px){  
  .cards-group .card{
    width: 6em;
  }
  .footer-content{
    flex-direction: column;
    display: block;
  }  
}

@media (min-width: 640px) {
  html {
    font-size: 21px;
  }
  
  .welcome-message {
    font-size: 2em;
    margin-top: 1em;
  }
}

@media (min-width: 768px) {
  html {
    font-size: 14px;
  }
  .footer-content{
    flex-direction: row;
    display: flex;
  }
  .welcome-message {
    font-size: 2em;
    margin-top: 1em;
  }
}

@media (min-width: 1024px) {
  html {
    font-size: 16px;
  }

  .content.main .cards-group {
    flex-direction: row;
  }
}

@media (min-width: 1280px) {
  html {
    font-size: 18px;
  }
}

@media (min-width: 1536px) {
  html {
    font-size: 20px;
  }
}
