@media(min-width:300px){  
  .cards-group .card{
    width: 6em;
  }
  .footer-content{
    flex-direction: column;
    display: block;
  } 
}

@media (min-width: 640px) {
  html {
    font-size: 21px;
  }
  
  .welcome-message {
    font-size: 2em;
    margin-top: 1em;
  }
}

@media (min-width: 768px) {
  html {
    font-size: 14px;
  }
  .footer-content{
    flex-direction: row;
    display: flex;
  }
  .welcome-message {
    font-size: 3em;
    margin-top: 1em;
  }
  
}

@media (min-width: 1024px) {
  html {
    font-size: 16px;
  }
  .welcome-message {
    font-size: 2em;
    margin-top: 1em;
  }
  .content.main .cards-group {
    flex-direction: row;
  }
}

@media (min-width: 1280px) {
  html {
    font-size: 18px;
  }
}

@media (min-width: 1536px) {
  html {
    font-size: 20px;
  }
}

@media screen and (max-width: 850px) {
  main {
    margin-top: 50px;
  }

  .caja__trasera {
    max-width: 350px;
    height: 300px;
    flex-direction: column;
    margin: auto;
  }

  .caja__trasera div {
    margin: 0px;
    position: absolute;
  }

  /*form responsive*/
  .contenedor__login-register {
    top: -10px;
    left: -5px;
    margin: auto;
  }

  .contenedor__login-register form {
    position: relative;
  }
}
