* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "roboto mono", "Helvetica Neue", sans-serif;
}
body , html{
  width: 100%;
  overflow-x: hidden;
}
body {
  margin: 0;
  height: 100%;
  padding: 0;
  height: 125vh;
  display: flex;
  flex-direction: column;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: background-image 1s linear;
}

header {
  grid-column: span 2;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding:1em;
  border-bottom: rgba(0, 0, 0, 0.3) solid 1px;
  background-color: white;
}

header > img {
  width: 95px;
  height: 100%;
}

main {
  width: 100%;
  padding: 20px;
  margin: auto;
  margin-top: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contenedor__todo {
  width: 100%;
  max-width: 800px;
  margin: auto;
  position: relative;
}

.caja__trasera {
  width: 100%;
  max-width: 800px;
  padding: 10px 20px;
  display: flex;
  justify-content: center;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  background-color: rgba(0, 0, 0, 0.5);
}

.caja__trasera div {
  margin: 100px 40px;
  color: white;
  transition: all 500ms;
}

.caja__trasera_login {
  opacity: 0;
}

.caja__trasera div p.caja__trasera div button {
  margin-top: 30px;
}

.caja__trasera div h3 {
  font-weight: 400;
  font-size: 26px;
}

.caja__trasera button {
  padding: 10px 40px;
  border: 2px solid #fff;
  background: transparent;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  color: #fff;
  outline: none;
  transition: all 300ms;
}

.caja__trasera button:hover {
  background-color: #333;
  color: #000;
}

/*formulario*/
.contenedor__login-register {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 380px;
  position: relative;
  top: -185px;
  left: 10px;
  transition: left 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.contenedor__login-register form {
  width: 100%;
  padding: 80px 20px;
  background: #fff;
  position: absolute;
  border-radius: 20px;
}

.contenedor__login-register form h2 {
  font-size: 30px;
  text-align: center;
  margin-bottom: 20px;
  color: #444;
}

.contenedor__login-register form input {
  width: 100%;
  margin-top: 20px;
  padding: 10px;
  border: none;
  background: #f2f2f2;
  font-size: 16px;
  outline: none;
}

.contenedor__login-register form button {
  padding: 10px 40px;
  margin-top: 40px;
  border: none;
  font-size: 14px;
  background: #444;
  color: white;
  cursor: pointer;
  outline: none;
  border-radius: 5px;
}

.formulario__login {
  opacity: 1;
  display: block;
}

.formulario__register {
  display: none;
}
/*Pie de pagina que va para todos los index*/
footer {
  color: white;
  text-decoration: none;
  grid-column: span 2;
  background-color: #222222;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  margin: 0;
  padding: 1em 2em 1em;
  box-sizing: border-box;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 1.5em;
}

.footer-content .company,
.footer-content .contact-info,
.footer-content .newsletter {
  width: 30%;
}

.company h1 {
  font-size: 1.25em;
  margin-bottom: 1em;
  font-weight: bold;
  gap: 2;
}

.contact-info h1 {
  font-size: 1.25em;
  margin-bottom: 1em;
  font-weight: bold;
}

.newsletter h1 {
  font-size: 1.25em;
  margin-bottom: 1em;
  font-weight: bold;
}

.footer-content ul,
.footer-content p {
  font-size: 1em;
  margin: 0.5em 0;
}

.newsletter-input {
  margin-top: 1.5em;
  display: flex;
  align-items: center;
}

.newsletter-input input {
  padding: 0.5em;
  border: none;
  border-radius: 5px;
  margin-right: 0.5em;
}

.submit-button {
  width: 50px;
  height: 50px;
  background-color: #9AA7BF; /* Color del botón */
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.footer-bottom {
  border-top: 1px solid #444;
  padding-top: 1em;
  text-align: center;
  font-size: 0.875em;
}

/* Hasta acá va el footer (Pie de pag) */

/*responsive design*/

@media screen and (max-width: 850px) {
  main {
    margin-top: 50px;
  }

  .caja__trasera {
    max-width: 350px;
    height: 300px;
    flex-direction: column;
    margin: auto;
  }

  .caja__trasera div {
    margin: 0px;
    position: absolute;
  }

  /*form responsive*/
  .contenedor__login-register {
    top: -10px;
    left: -5px;
    margin: auto;
  }

  .contenedor__login-register form {
    position: relative;
  }
}

@media (max-width:360px) {
  .footer-content{
    display: block;
  }
}