@media (min-width: 640px) {
    html {
      font-size: 13px;
    }
    .footer-content{
      display: block;
    }
  }
  
  @media (min-width: 768px) {
    html {
      font-size: 16px;
    }
    .welcome-message {
      font-size: 2em;
      margin-top: 1em;
    }
  }
  
  @media (min-width: 1024px) {
    html {
      font-size: 16px;
    }
  
    .content.main .cards-group {
      flex-direction: row;
    }
  }
  
  @media (min-width: 1280px) {
    html {
      font-size: 16px;
    }
  }
  
  @media (min-width: 1536px) {
    html {
      font-size: 15px;
    }
  }
  
  
  .debit-card {
    display: flex;
    flex-direction: column;
    background-color: rgb(32, 32, 32);
    width: 20em;
    height: min-content;
    padding: 1em;
    margin-top: 1em;
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    color: white;
  }
  
  .debit-card span {
    padding-bottom: 1em;
  }