@media (min-width: 640px) {
  html {
    font-size: 20px;
  }
  .welcome-message {
    font-size: 2em;
    margin-top: 1em;
  }
}
@media (max-width: 768px) {
  html {
    font-size: 14px;
  }
}
@media (max-width: 1024px) {
  html {
    font-size: 16px;
  }
  .main-section1 {
    flex-direction: row;
  }
  .main-section1 div {
    flex: 1;
  }
  .main-section1 h2 {
    flex-direction: column;
  }
}
@media (min-width: 1280px) {
  html {
    font-size: 18px;
  }
  .main-section1 {
    display: flex;
  }
  .main-section1 div {
    flex: 1;
    margin-left: 1rem;
    flex-direction: column;
    max-width: 18rem;
  }
  .main-section1 h2 {
    flex-direction: column;
  }
}
@media (min-width: 1536px) {
  html {
    font-size: 20px;
  }
}

.debit-card {
  display: flex;
  flex-direction: column;
  background-color: rgb(32, 32, 32);
  width: 20em;
  height: min-content;
  padding: 1em;
  margin-top: 1em;
  border-radius: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  color: white;
}

.debit-card span {
  padding-bottom: 1em;
}
